div.center_ligne{

    text-align: center;
    margin-bottom: 20px;
}
div.ligne{
        background-color: rgb(42, 41, 41);
        height: 1px;
        width: 200px;
        display: inline-block;
        

}

div.p1{
    text-align: center;
    display: block;


}
div.info{
    position: relative;
    object-fit: contain;

     }

table.info{
    position: absolute;
    bottom: 0px;
    color: white;
    width: 100%;
    height: 10%;
    background-color:#7995a7c0 ;
    text-align: center;
    font-size: 13px;

}
table.info td{
    font-size: 12px;
}
table.info th{
    font-size: 14px;
}


h1.gateau{
    text-align: center;
    margin-bottom: 5px;
}
p.p1{
    text-align: center;
    display: inline-block;
}
div.titre{

    display: block;
    margin-bottom: -40px;
    text-align: center;
    
    min-width: 190px;

    
}
p.titre{
        color: aliceblue;
        background-color: black;
        display:inline-block;
        margin-bottom: 0px;
        padding: 10px 20px 10px 20px;
        
        font-weight: bold;
        font-size: 16px;
        
        
        

}
body{

    background-color: #8BA1BB;
}
div.contenu{
        font-family:Arial;
        background-color: white;
        margin: 15px 20px 15px 20px;
        padding: 10px;
        box-shadow: 0px 0px 10px #000000C0;
        min-width:300px ;
        

}
div.colonne1{
    display: inline-block;
    width: 100%;  
    margin-right: 10%;
}
div.colonne h2{
    border-bottom: 5px solid #8BA1BB;
    font-size: 20px;
    text-align: center;


}
div.colonne2{
    
    width: 100%;     
}
div.ingredients p{
    border: 1px solid lightgray;
    text-align: center;
    padding: 4px 0px;
    font-size: 14px;
    margin: 10px;
}
table.recette p.numero{
    margin-right: 10px;
    background-color: #8BA1BB;
    height: 20px;
    width: 20px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 1px;
    border-radius: 50%;
    margin-top: 0px;
    

}
table.recette td{
    vertical-align: top;
}
table.recette td.recette_etape{
    font-size: 14px;
    padding-bottom: 5px;
}
*{

    overflow: auto;
}

@media only screen and (min-width: 768px){
    
    div.contenu{
        min-width: 460px;
        margin: 20px 40px 20px 40px;
        padding: 20px;
    }
    table.info{
        height: 15%;
     font-size: 16px;
    }
    div.colonne h2{
        border-bottom: 5px solid #8BA1BB;
        text-align: center;
    }
   
    div.titre{

        margin-bottom: -50px;
        text-align: center;
        min-width: 200px;
    }
    div.colonne1{
        display: inline-block;
        width: 45%;  
        margin-right: 10%;
    }
    div.colonne2{
        float: right;
        width: 45%;     
    }


}
@media only screen and (min-width: 900px){
    div.contenu{
        
        margin-left: auto;
        margin-right: auto;
        width: 830px;
        
        

}
}